th,
td {
  padding: 10px 13px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
padding-right: 0; }

#help-sidebar {
  padding-top: 5px;
  padding-left: 10px;
}
#help-sidebar ul {
  list-style-type: none;
  font-size: 1.1em;
}
#help-sidebar li {
  list-style: none;
}
#help-sidebar .header li {
  padding: 3px;
}
#help-sidebar a {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: left;
  padding: 3px;
}
#help-sidebar .subgroup {
  padding-left: 0px;
}
#help-sidebar .subgroup a {
  padding-left: 15px;
}
#help-sidebar a:hover {
  background-color: #eee;
  text-decoration: none;
}
dl {
  padding: 0.25em;
}
dt {
  float: left;
  clear: left;
  width: 80px;
  text-align: right;
  font-weight: bold;
}
dd {
  margin-left: 90px;
  padding: 0 0 0.5em 0;
}
.nav > li > a:focus, .nav > li > a:hover {
  background: none;
}
.gadget-tabs-container ul.gadget-tabs > li > a:hover {
  color: #344d63;
  background: none;
}
#help_text_selected > h3 {
  margin-top: 0px;
}
#regexOptions {
  padding-left: 15px;
}
#regexInput {
  padding: 0 15px 15px 10px;
}
#library_show_container {
  position: absolute;
  bottom: 0;
  right: 60px;
}
.gadget-result {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 8px;
  overflow-wrap: break-word;
}
