.regexplain {
  font-family: monospace;
  color: #888888;
}
.regexplain .group {
  border-bottom: 2px solid;
  color: black;
  padding: 0px;
}
.regexplain .group.g00, .regexplain__pattern .g00 {
  padding: 1px;
  background-color: #f0f0f0;
  border: 1px solid #b0b0b0;
  border-left: 1px solid #b0b0b0;
  border-right: 1px solid #b0b0b0;
  border-top: 1px solid #b0b0b0;
}
.regexplain .group.g01, .regexplain__pattern .g01 {
  border-color: green;
  color: green;
}
.regexplain .group.g02, .regexplain__pattern .g02 {
  border-color: blue;
  color: blue;
}
.regexplain .group.g03, .regexplain__pattern .g03 {
  border-color: red;
  color: red;
}
.regexplain .group.g04, .regexplain__pattern .g04 {
  border-color: orange;
  color: orange;
}
.regexplain .group.g05, .regexplain__pattern .g05 {
  border-color: purple;
  color: purple;
}
.regexplain .group.g06, .regexplain__pattern .g06 {
  border-color: DeepPink;
  color: DeepPink;
}
.regexplain .group.g07, .regexplain__pattern .g07 {
  border-color: Tomato;
  color: Tomato;
}
.regexplain .group.g08, .regexplain__pattern .g08 {
  border-color: DarkSeaGreen;
  color: DarkSeaGreen;
}
.regexplain .group.g09, .regexplain__pattern .g09 {
  border-color: DeepSkyBlue;
  color: DeepSkyBlue;
}
.regexplain .group.g10, .regexplain__pattern .g10 {
  border-color: Sienna;
  color: Sienna;
}
.regexplain .group.pad01 {
  padding-bottom: 3px;
}
.regexplain .group.pad02 {
  padding-bottom: 6px;
}
.regexplain .group.pad03 {
  padding-bottom: 9px;
}
.regexplain .group.pad04 {
  padding-bottom: 12px;
}
.regexplain .group.pad05 {
  padding-bottom: 15px;
}
.regexplain .group.pad06 {
  padding-bottom: 18px;
  margin-bottom: 18px;
}
.regexplain .group.pad07 {
  padding-bottom: 21px;
  margin-bottom: 21px;
}
.regexplain .group.pad08 {
  padding-bottom: 23px;
  margin-bottom: 23px;
}
.regexplain .group.pad09 {
  padding-bottom: 25px;
  margin-bottom: 25px;
}
